/* ------------------General Styles------------- */
/* --------Colors------ 
-Main text color: #592720;
*/

body {
    line-height: 1.5;
    margin: 0 auto;
    font-family: "Nunito";
}

h1 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
}

@media (min-width: 46.8em) {
    h2 {
        font-size: 2.5rem;
        font-weight: 600;
    }
    p {
        font-size: 1.5rem;
    }
}
/* ----------------------Header----------------- */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #f2e4d8;
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header p {
    font-size: 0.8rem;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.nav-list a {
    text-decoration: none;
}

.nav-list a,
.nav-list a:visited {
    color: black;
}

/* .nav-list a:hover {
    background-color: #115923;
    color: #f2e4d8;
    padding: 0.2rem 0.2rem;
    border-radius: 4%;
} */

@media (min-width: 46.8em) {
    .header {
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nav-list {
        gap: 2rem;
    }
    header p {
        font-size: 1.5rem;
    }
}

/* -----------------Landing Section------------- */
.landing-section {
    position: relative;
    margin-bottom: 2rem;
}

.landing-title {
    position: absolute;
    left: 3%;
    top: 25%;
}

.landing-title h1 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

.landing-title p {
    margin-top: 0;
    font-size: 1rem;
}

.landing-section img {
    display: block;
    object-fit: cover;
}

@media (min-width: 28.12em) {
    .landing-title {
        position: absolute;
        left: 5%;
        top: 30%;
    }
    .landing-title h1 {
        font-size: 2rem;
    }
}

@media (min-width: 46.8em) {
    .landing-section {
        position: relative;
    }

    .landing-title {
        position: absolute;
        left: 10%;
        top: 30%;
    }

    .landing-title h1 {
        font-size: 4rem;
    }

    .landing-title p {
        font-size: 1.5rem;
    }

    .landing-section img {
        aspect-ratio: 16/5;
        height: 100vh;
    }
}

/* --------------------About-me Section----------------- */
.about-me {
    margin: 0 auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

.about-me h2 {
    text-align: center;
}

.about-me p {
    text-align: left;
}

@media (min-width: 46.8em) {
    .about-me {
        margin: 0 auto;
        width: 65%;
        margin-bottom: 6rem;
        /* border: 2px solid black;
        padding: 2rem 3rem; */
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-me-title {
        margin-bottom: 1rem;
        margin-top: 0;
        align-self: center;
    }
    .about-me p {
        margin-top: 0;
    }
}
/* ---------------------Projects Section----------------- */
.my-projects {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-bottom: 2rem;
}

.projects-title {
    text-align: center;
}

.project-card {
    margin: 0 auto;
    margin-bottom: 1.5rem;

    padding-bottom: 0.7rem;
    text-align: center;
    width: 90%;
    background-color: #efb3a2;
    border-radius: 2%;
    overflow: hidden;
}

.project-card div {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 0.5rem;
}

.project-card h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.project-card p {
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.read-more {
    text-decoration: none;
    color: #f2e4d8;
    background-color: black;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
}

@media (min-width: 46.8em) {
    .my-projects {
        margin-top: 2rem;
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        height: 100vh;
    }

    .projects-title {
        margin-bottom: 3rem;
    }

    .projects-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin: 0 auto;
    }

    .project-card {
        /* width: fit-content;
        margin: 0; */
        width: 40%;
        height: fit-content;
    }

    .project-card img {
        width: 100%;
        max-height: 30rem;
        object-fit: cover;
    }
}

@media (min-width: 71.25em) {
    .project-card {
        width: 22%;
        flex-grow: 1;
    }
}
/* ---------------------Contact-me Section----------------- */
.contact-me {
    margin: 0 auto;
    width: 90%;
}

form {
    text-align: left;
}
.contact-me h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.contact-me ul {
    margin-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-me li {
    list-style: none;
    margin-bottom: 0.5rem;
}

lable,
input {
    display: block;
}

@media (min-width: 46.8em) {
    .contact-me {
        width: 100%;
    }
}

/* --------------------------Footer Section-------------------- */
footer {
    background-color: #f2e4d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
}

footer p {
    margin-bottom: 0;
    margin-top: 0;

    font-size: 0.6rem;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@media (min-width: 46.8em) {
    footer {
        padding: 1rem 1rem;
    }

    footer p {
        font-size: 1rem;
    }

    .icon {
        width: 2rem;
        height: 2rem;
    }
}
